<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minha lista de Animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome do anime" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Episodios" placeholder="Insira a quantidade de episódios do anime" type="number" min="1" [(ngModel)]="episodios"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Genero" placeholder="Seleciona o gênero do anime" [(ngModel)]="genero">
        <ion-select-option value="0">Outro</ion-select-option>
        <ion-select-option value="1">Shounen</ion-select-option>
        <ion-select-option value="2">Romance</ion-select-option>
        <ion-select-option value="3">Drama</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Temporada" placeholder="Insira a tempoorada do anime" [(ngModel)]="temporada">
        <ion-select-option value="0">Ano todo</ion-select-option>
        <ion-select-option value="1">Verão</ion-select-option>
        <ion-select-option value="2">Outono</ion-select-option>
        <ion-select-option value="3">Inverno</ion-select-option>
        <ion-select-option value="4">Primavera</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Studio" placeholder="Insira o estúdio que produziu o anime" [(ngModel)]="studio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Data" placeholder="Insira a data que lançou o anime" type="date" [(ngModel)]="data"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="cadastrar()">Enviar</ion-button>
  </ion-list>
</ion-content>
