<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" *ngIf="hasSearched" (click)="returnSearch()"></ion-icon>
    <ion-title color="tertiary">
      Minha Lista de Animes
    </ion-title>
    <ion-item-group *ngIf="lista_animes.length > 0">
      <ion-buttons>
        <ion-back-button (click)="returnSearch()"></ion-back-button>
      </ion-buttons>
      <ion-searchbar #mySearchbar animated debounce="800" #searchInput style="margin-top: 2%;" (ionChange)="onSearchChange($event)"></ion-searchbar>
    </ion-item-group>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-animes *ngIf="isLoading"></app-loading-animes>
  <ion-item-group *ngIf="!hasSearched">
    <ng-container *ngIf="!isLoading && lista_animes.length == 0">
      <app-empty-screen [model]="model"></app-empty-screen>
    </ng-container>
    <ion-list *ngFor="!isLoading && lista_animes.length > 0 let anime of lista_animes;">
      <app-anime (click)="editar(anime)" [anime]="anime">
      </app-anime>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngIf="hasSearched">
    <app-empty-screen *ngIf="!isLoading && (animes?.length == 0 || query?.length == 0)" [model]="emptySearchModel"></app-empty-screen>
    <ion-list *ngFor="!isLoading && animes.length > 0 let anime of animes;">
      <app-anime (click)="editar(anime)" [anime]="anime">
      </app-anime>
    </ion-list>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-button (click)="logout()">Sair</ion-button>
  </ion-fab>
</ion-content>
