<ion-header>
  <ion-toolbar>
    <ion-title>
      Minha Lista de Animes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let anime of lista_animes;">
    <ion-item (click)="editar(anime)">
      <ion-label>{{anime.nome}}</ion-label>
      
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
