<ion-header>
  <ion-toolbar>
    <ion-title>Detalhar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome do anime" [(ngModel)]="nome" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Episodios" placeholder="Insira a quantidade de episódios do anime" type="number" [(ngModel)]="episodios" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Genero" placeholder="Seleciona o gênero do anime" [(ngModel)]="genero" disabled="{{edicao}}">
        <ion-select-option value="1">Shounen</ion-select-option>
        <ion-select-option value="2">Romance</ion-select-option>
        <ion-select-option value="3">Drama</ion-select-option>
      </ion-select>
      <ion-item>
        <ion-input label="Temporada" placeholder="Insira a temporada de lançamento do anime" [(ngModel)]="temporada" disabled="{{edicao}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Studio" placeholder="Insira o estúdio que produziu o anime" [(ngModel)]="studio" disabled="{{edicao}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Data" placeholder="Insira a data que lançou o anime" type="date" [(ngModel)]="data" disabled="{{edicao}}"></ion-input>
      </ion-item>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="editar()" disabled="{{edicao}}">Salvar</ion-button>
    <ion-button expand="block" shape="round" color="danger" (click)="excluir()" disabled="{{edicao}}">Excluir</ion-button>
  </ion-list>
</ion-content>
